@model UsuariosApp.Models.WarningViewModel

@{
    ViewData["Title"] = "Aviso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Html.DisplayFor(Model => Model.Title)</h3>
<p>
    @Html.DisplayFor(Model => Model.Message)
</p>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>
